body{
  background: url("techlogos/LossySuperBackground.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family:"proxima_novaregular";

}

ul{
  list-style-type: none;
}

hr {
    border: solid #333;
    border-width: 1px 0 0;
    clear: both;
    margin: 1.25rem 0 1.1875rem;
    height: 0;
}

.header {
  text-align: center;
  background-size: cover;
  padding: 0.8rem; }
  .header .main-header {
    color: rgba(250, 250, 250, 0.99);
    font-size:4rem;
    font-family: 'proxima_novaregular';
     }

.header-subnav {
  font-family:'proxima_novaregular';
  font-weight:bold;
  float: none;
  position: relative;
  top: 0.8rem;
  text-align: center;
  margin:0 auto; }
  .header-subnav li:focus{
    outline:0;
  }
  .header-subnav li {
    margin-bottom:-0.52rem;
    float: none;
    display: inline-block; }
     .header-subnav li a:focus{
      outline:0;
     }
    .header-subnav li a {
      transition: all .55s ease-out; 
/*      border-radius: 5px 5px 0px 0px;*/
      padding: 0.9rem 1rem 0.75rem;
      font-size: 4rem;
      color: #fff;
      text-transform: uppercase;
      display: block;
      font-weight: bold;
      letter-spacing: 1px; }
      .header-subnav li.active a {
        background: rgba(250, 250, 250, 0.9);
        color: #333;
        /*text-decoration: underline;*/
       /*  animation-duration: 0.2s;
  animation-name: shake;*/
         }
      .header-subnav li a:hover {
        background: rgba(250, 250, 250, 0.9);
        color: #333;
        transition: all .35s ease-in-out; }


.workWith{
  list-style-type: none;
}

.tech{
  margin-top:80px;
  margin-bottom:40px;
  height:50px;
}

.contactIf{
  list-style-type: none;
}

#encourage{
}

.screenshot{
  margin:0 auto;
  width:100%;

 /* border:2px solid purple;*/
  /*width:21rem;
  max-width:34rem;
  max-height:34rem;*/
}

.screenshot img{
 /*height:100px;
 width:100px;*/
  border:2px solid black;
}

.project{
  text-align:center;
  /*border:1px solid cyan;*/
  min-height:20rem;
  margin-bottom:2.5rem;
}


.tabs-content{
   background: rgba(250, 250, 250, 0.9);
   width:100%;
   margin:0 auto;
   border-radius:0px;
   min-height: 90rem;
}



.row {
  position:relative;
}

.bio{
/*  text-align: center;*/
}

.bioSquare{
  margin:0 auto;
  max-width:50rem;
/*  background-color:rgba(0,0,0,0.8);*/
  padding:1rem;
 /* color:rgba(255,255,255,0.4);*/
}

.bioSquare h3{
  font-size:4rem;
}

#face{
  width:10rem;
  height:10rem;
  margin:0 auto;
  border-radius:180px;
}


.main-header{
/*  font-family: 'Montserrat', sans-serif;*/
}

.tabs-content .content {
  animation-duration: 2s;
  animation-name: fadeOutLeft;
}
.tabs-content .content.active {

  animation-duration: 2s;
  animation-name: fadeIn;
}
@keyframes fadeIn {

  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}


.gridspace{
width:70%;
margin:0 auto;

}

#things{
   font-family:"proxima_novabold";
  margin-top:4rem;
  margin-bottom:-0.5rem;
}

#teaching{
  font-family:"proxima_novabold";
  margin-top:4rem;
  margin-bottom:-0.5rem;
}



.square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    overflow:hidden;
/*    border:1px solid black;*/
}

.squareContent {
  text-align:center;
    position:absolute;
    height:100%; /* = 100% - 2*10% padding */
    width:100%; /* = 100% - 2*5% padding */
    padding: 10% 5%;
}
.table{
    display:table;
    height:100%;
    width:100%;
}
.table-cell{
  margin:0 auto;
    display:table-cell;
    vertical-align:middle;
    height:100%;
    width:100%;
    font-weight:bold;
}

.table-cell img{
  height:4.5rem;
  width:4.5rem;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

#githeader{
  text-align: center;
  margin-top:-3rem;
  margin-bottom:5rem;
}

#dream{
/*   text-align: center;*/
 /* margin-top:-3rem;
  margin-bottom:5rem;*/

}

.bolden{
  font-family:"proxima_novabold";
}

.page{
  z-index:1;
  margin:0 auto;
  width:80%;
  border:2px solid black;
  background:rgba(255,255,255,0.4);
  min-height:70rem;
  margin-bottom:10rem;
}

@charset "UTF-8";
.accordion-navigation > a:after {
  content: "↡";
  padding-left: 5px;
  float: right;
  font-size: 20px; }
.accordion-navigation.active a:after {
  content: "↟"; }

  .panel9{
    z-index:2;
    background: #333;
    width: 40%;
    border: 2px solid #444;
    position: relative;
    margin: auto; 
    top:2.2rem;
  }

.panel9 h1{
font-size:1.5rem;
text-align:center;
 /*text-transform: uppercase;*/
 font-family:"proxima_novabold";
/* font: bolder 0.875rem "Avenir Next";*/
 letter-spacing: 3px;
 /*color: #666;*/
 color:white;
/* font-size: 98%;*/
 text-align: center;
 line-height: 2rem; 

}


.accordion-div{
  width:80%;
  margin:0 auto;
  margin-bottom: 5%;
}


.contact-div{
  width:70%;
  margin:0 auto;

}

.contact-div img{
  width:7.5rem;

}

.linksContainer{
  margin:0 auto;
  text-align: center;
}

.reasons{
  list-style-type:circle;
  font-size:1.3rem;
}


.project-content{
border: 1px solid red;
}

.descriptions h5{
  text-decoration: underline;

}

.footer {
  background-color: #292c2f;
  text-align: center;
  font-size: 0.8rem;
  padding: 2rem; }
  .footer p.slogan {
    color: #8d9093;
    font-size: 1.8rem;
    margin: 0 0 1rem; }
  .footer p.copywrite {
    color: #8f9296;
    font-size: 0.875rem;
    margin: 0; }

a{
  color:#16a085;
}

/**/

/*.img1{
    background-image: url('https://farm3.staticflickr.com/2827/10384422264_d9c7299146.jpg');
}
.img2{
    background-image: url('https://farm7.staticflickr.com/6217/6216951796_e50778255c.jpg');
}
.img3{
    background-image: url('https://farm4.staticflickr.com/3794/13893055574_3df0ab636b.jpg');
}
*/
